*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}


.container {
    min-height: 100%;
    box-sizing: border-box;
}

.austinRoman {
    font-family: 'Austin-Roman', sans-serif;
}

.austinMedium {
    font-family: 'Austin-Medium', sans-serif;
}

.austinBold {
    font-family: 'Austin-Bold', sans-serif;
}

.austinSemibold {
    font-family: 'Austin-Semibold', sans-serif;
}

.container {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    width: 80%;
}

.left-column {
    flex: 30%;
    background-color: #ffffff;
    padding: 35px;
    overflow: hidden;
    max-height: 115vh;
    position: sticky;
    top: 0;
    height: auto;
}

.left-column::-webkit-scrollbar {
    display: none;
}

.right-column {
    flex: 70%;
    background-color: #ffffff;
    padding: 20px;
    overflow-y: auto;
}

a{
    text-decoration: none;
    color: #286634;
}

.sidebarLink {
    margin: 0;
    font-size: 18px;
    transition: transform 0.3s, color 0.3s,letter-spacing 0.3s;
}

.sidebarLink:hover {
    color: #286634;
    cursor: pointer;
    letter-spacing: 2px;
}

.linkContainer{
    padding-top: 32px;
    line-height: 175%;
}

.location{
    padding-top: 16px;
}

.pullQuote{
    color: #949494;
    padding: 4px;
    padding-top: 16px;
    padding-left: 0;
}

.icons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 32px;
}

.icon{
    height: 32px;
    filter: brightness(0) saturate(100%) invert(22%) sepia(95%) saturate(7000%) hue-rotate(87deg);
    fill: #286634;
    transition: transform 0.3s;
}

.twitter{
    padding-left: 12px;
}

.description {
    column-count: 2;
    column-gap: 48px;
    padding: 32px 40px;
    line-height: 1.4;

}

.title{
    text-align: center;
}

.headerImage {
    width: 95%;
    max-height: 400px;
    object-fit: contain;
}

.image-container {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.divider{
    margin: 64px 4rem;
    border: none;
    border-top: 4px solid #ccc;
    border-radius: 5px;

}

.singleParagraph{
    padding: 32px 40px;
    line-height: 1.4;
}

.footer {
    display: flex;
    background-color: #286634;
    width: 100%;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.footer-icons{
    width: 50%;
    display: flex;
    padding-top: 13px;
}

.icon:hover, .footer-icon:hover {
    transform: scale(1.2); 
}

.footer-icon {
    height: 32px;
    filter: brightness(0) saturate(100%) invert(100%);
    margin-right: 20px;
    transition: transform 0.3s;
}

.footer-left {
    width: 30%; 
    padding: 35px;
    text-align: center;
}

.footer-location{
    text-align: left; 
    align-items: left; 
    justify-content: left;
}

.footer-right {
    flex: 20%;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.signup-label {
    display: block;
    color: #fff;
    margin-bottom: 13px;
    text-align: left; 
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%; /* Set the height to 100% */
    flex-grow: 1; /* Allow the form to fill the available vertical space */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

input[type="email"] {
    padding: 8px;
    background-color: #286634; 
    border: 1px solid #fff; 
    border-radius: 0; 
    width: 95%;
    height: 17%;
    margin-bottom: 13px;
    color: #fff; 
    text-align: left; 
    font-size: large;
}

input[type="email"]::placeholder {
    color: #ffffffce;
    text-align: left; 
    font-size: large;
}

.signup-button {
    padding: 3px 6px; 
    background-color: #fff;
    color: #286634;
    border: 1px solid #fff;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 23%; 
    height: 29%;
    font-size: 20px;
}

.signup-button:hover {
    background-color: #286634;
    color: #fff;
    border-color: #fff;
}

.footer-space{
    flex: 20%; 
    padding: 32px 40px;
}

a[smoothScroll] {
    transition: 0.5s ease-in-out;
}

a[smoothScroll]:hover {
    transform: translateY(-5px);
}