<div class="container">
    <div class="left-column">
        <img class="logo" src="../assets/images/GNM_Website_Logo.svg" alt="">
        <div class="linkContainer">
            <p><a href="#our-mission" smoothScroll><span class="sidebarLink austinSemibold">OUR MISSION</span></a></p>
            <p><a href="#our-new-direction" smoothScroll><span class="sidebarLink austinSemibold">OUR NEW DIRECTION</span></a></p>
            <p><a href="#about-us" smoothScroll><span class="sidebarLink austinSemibold">ABOUT US</span></a></p>
            <p><a href="#history" smoothScroll><span class="sidebarLink austinSemibold">HISTORY</span></a></p>
            <p><a href="#our-director" smoothScroll><span class="sidebarLink austinSemibold">OUR DIRECTOR</span></a></p>
        </div>


        <div class="austinRoman">
            <p class="location">
                Corner of Young and Monckton Streets,<br>
                St. George's, Grenada<br>
                info@museum.gd<br>
                (473) 410 3725
            </p>
        </div>


        <div class="">
            <p class="pullQuote austinMedium">
                “The Grenada National Museum will collect, preserve, research,
                interpret, display and promote the historical, natural and cultural heritage of Grenada, Carriacou and
                Petite Martinique through its exhibits, educational programs, and cultural and historical experiences
                that
                will foster an understanding and interest in the heritage of the people of Grenada.”
            </p>
        </div>
        <div class="icons">
            <a href="https://www.instagram.com/grenadamuseum/" target="_blank"><img class="icon" src="../assets/images/instagram.svg" alt=""></a>
            <a href="https://twitter.com/grenadamuseum?lang=en" target="_blank"><img class="icon" src="../assets/images/twitter.svg" alt=""></a>
            <a href="https://www.facebook.com/thegrenadanationalmuseum/" target="_blank"><img class="icon" src="../assets/images/facebook.svg" alt=""></a> 
        </div>

    </div>

    <div class="right-column">
        <div id="our-mission"  class="section">
            <header>
                <h2 class="title AustinBold">OUR MISSION</h2>
            </header>
            <div class="image-container">
                <img class="prevButton" src="../assets/icons/prev.svg" alt="">
                <img class="headerImage" src="../assets/images/Colonel Nicholls-Saint George Grenada (16x9)-min.jpg"
                    alt="Image description">
                <img class="nextButton" src="../assets/icons/next.svg" alt="">
            </div>
        </div>

        <div class="description">
            <p class="austinRoman">
                The Grenada National Museum (GNM) will collect, preserve, research, interpret,
                display and promote the historical, natural and cultural heritage of Grenada,
                Carriacou and Petite Martinique through its exhibits, educational programs,
                and cultural and historical experiences that will foster an understanding and
                interest in the heritage of the people of Grenada. The Grenada National Museum
                shall be the premier resource for residents, visitors, students and scholars who
                are interested in learning about the historical, natural and cultural heritage of
                Grenada, Carriacou and Petite Martinique
            </p>
        </div>

        <div class="image-container">
            <img class="headerImage" src="../assets/images/CombatNavalDeLaGrenade-DumoulinCompressed.JPG"
                alt="Image description">
        </div>

        <hr class="divider">

        <div id="our-new-direction" class="section">
            <header>
                <h2 class="title AustinBold">OUR NEW DIRECTION</h2>
            </header>
        </div>

        <div class="description">
            <p class="austinRoman"> The GNM, though in existence for the past 47 years, 
                remains in a very basic state because of limited resources, particularly 
                financial and technical. Its greatest ac hievement has been its survival 
                in the face of tremendous challenges over the years. As a means to remedying 
                its present situation, the GNM endeavors to become a state of the art museum 
                that is accessible and inclusive of Grenada's diverse history and cult ure as 
                it prepares for its 50th anniversary in April 2026, embodying its goal of being
                the foremost institution for the preservation and interpretation
            </p>
        </div>
        <div class="image-container">
            <img class="prevButton" src="../assets/icons/prev.svg" alt="">
            <img class="headerImage" src="../assets/images/MuseumSideView.jpg"
                alt="Image Couldn't Load">
            <img class="nextButton" src="../assets/icons/next.svg" alt="">
        </div>

        <p class="singleParagraph austinRoman"> of the islands'
            cultural heritage. In a concerted effort to enhance the GNM, the Board of
            Directors and staff have embarked on a journey that will see the GNM on the
            road to becoming the premier institution in Grenada for the preservation and
            interpretation of the islands' historical and cultural heritage. Please join
            us on this most exciting journey as we s hare the stories of who we are and
            the beauty of our tri - island state.
        </p>

        <hr class="divider">

        <div id="about-us" class="section">
            <header>
                <h2 class="title AustinBold">ABOUT US</h2>
            </header>
            <div class="image-container">
                <img class="prevButton" src="../assets/icons/prev.svg" alt="">
                <img class="headerImage" src="../assets/images/aNorthEastViewOfTheVillaHouse.jpg"
                    alt="Image description">
                <img class="nextButton" src="../assets/icons/next.svg" alt="">
            </div>
        </div>
        <div class="description">
            <p class="austinRoman"> The Grenada National Museum 
                celebrates the unique heritage and culture of the
                people of Grenada, Carriacou and Petite Martinique.
                It is dedicated to the preservation, interpretation
                and promotion of the islands' history and culture. 
                Come explore centuries of history, culture and art 
                in one of the islands' oldest buildings in downtown,
                historical St. George's. The Museum is the central 
                attraction of an educational and visitor complex that
                will be an inviting cultural space in the heart of 
                St. George's, affording a reprieve from its usual hustle 
                and bustle. We also invite you to join us for lectures,
                art exhibitions, and other special events throughout the 
                year. </p>
        </div>

        <div class="image-container">
            <img class="prevButton" src="../assets/icons/prev.svg" alt="">
            <img class="headerImage" src="../assets/images/ChurchWithTombstones.jpg" alt="Image description">
            <img class="nextButton" src="../assets/icons/next.svg" alt="">
        </div>

        <hr class="divider">

        <div id="history" class="section">
            <header>
                <h2 class="title AustinBold">HISTORY</h2>
            </header>
            <div class="image-container">
                <img class="prevButton" src="../assets/icons/prev.svg" alt="">
                <img class="headerImage" src="../assets/images/BelmontEstate1824.jpg" alt="Image description">
                <img class="nextButton" src="../assets/icons/next.svg" alt="">
            </div>
        </div>
        <div class="description">
            <p class="austinRoman">The Grenada National Museum at the
                corner of Young and Monckton Streets, St. George's opened 
                its doors to the public on 17 April 1976. Under the instigation
                of then Prime Minister Sir Eric M. Gairy, it was founded by a 
                group of expatriates and citizens who came t ogether to promote
                the awareness of history, culture and heritage by displaying 
                elements of Grenadian history and culture. For many years 
                thereafter it was the sole functioning museum in the country,
                and has remained</p>
        </div>
        
        <div class="image-container">
            <img class="prevButton" src="../assets/icons/prev.svg" alt="">
            <img class="headerImage" src="../assets/images/History1HomeHotel1902.jpg" alt="Image description">
            <img class="nextButton" src="../assets/icons/next.svg" alt="">
        </div>

                <p class="singleParagraph austinRoman"> 
                the only one with a national
                agenda. The GNM's collection of artifacts consist
                of objects illustrating Grenada's history and culture,
                including an assortment of pre - colonial Indigenous
                (Amerindian) artifacts. Displayed also are agricultural
                machinery once used in the manufacture of sugar and rum,
                whaling equipment from the whaling station at Glover Island,
                the supposed bathtub of the French Empress Josephine, historical
                pictures and documents, copies of historical maps, and stories
                of Grenada's almost two millennia history and culture.
                </p>

                <hr class="divider">

                <div id="our-director" class="section">
                    <header>
                        <h2 class="title AustinBold">OUR DIRECTOR</h2>
                    </header>
                    <div class="image-container">
                        <img class="prevButton" src="../assets/icons/prev.svg" alt="">
                        <img class="headerImage" src="../assets/images/angus-min.jpg" alt="Image description">
                        <img class="nextButton" src="../assets/icons/next.svg" alt="">
                    </div>
                </div>
                <div class="description">
                    <p class="austinRoman">John Angus Martin is a historian, 
                        archivist and museum curator specializing in Grenada's
                        history and culture. He holds a BS in Biological Sciences,
                        MA in History, and MS in Agricultural and Applied Economics. 
                        He is currently completing a PhD in Herit age Management in the Faculty
                        of Archaeology, Leiden University. He spent three years as a
                        Peace Corps volunteer in Sierra Leone as a teacher and agricultural
                        extension agent. He has worked as the Director of the Saba
                        Archaeological Center, Saba, Reference Archivist at the 
                        Cushing Memorial Library, Texas A&M University, Director/Curator 
                        of the Grenada National Museum, Country Desk Officer at the US Peace
                        Corps, part - time lecturer in the School of Arts and Sciences, 
                        St George's University, and member of the Grenada National 
                        Reparations Committee. Martin is the author/co - author/editor 
                        of several books and articles, including: A to Z of Grenada Heritage
                        (2022) and Island Caribs and French Settlers in Grenada, 
                        1498 - 1763 (2013)</p>
                </div>
                
    </div>

</div>

<footer class="footer">
    <div class="footer-left">
        <div class="footer-location">
            <div class="austinRoman">
                <p class="location">
                    Corner of Young and Monckton Streets,<br>
                    St. George's, Grenada<br>
                    info@museum.gd<br>
                    (473) 410 3725
                </p>
            </div>
        </div>
        <div class="footer-icons">
            <a href="https://www.instagram.com/grenadamuseum/" target="_blank">
                <img class="footer-icon" src="../assets/images/instagram.svg" alt="">
            </a>
            <a href="https://twitter.com/grenadamuseum?lang=en" target="_blank">
                <img class="footer-icon" src="../assets/images/twitter.svg" alt="">
            </a>
            <a href="https://www.facebook.com/thegrenadanationalmuseum/" target="_blank">
                <img class="footer-icon" src="../assets/images/facebook.svg" alt="">
            </a>
        </div>
    </div>
    <div class="footer-space">

    </div>
    <div class="footer-right">       
        <div class="signup-form">
            <label for="email" class="signup-label austinRoman">Sign up for our newsletter</label>
            <input type="email" id="email" #emailInput class="austinRoman" placeholder="Email Address">
            <button class="signup-button austinRoman" (click)="addEmails(emailInput.value)">Sign Up</button>
        </div>
    </div>
</footer>

